<html>
  {% include "include_head.html" %}
  <body class="skin-blue-light sidebar-mini">
  <!-- Site wrapper -->	
  <div class="wrapper">
  
    {% include "include_header.html" %}
  
    <!-- =============================================== -->
  
  <!-- Left side column. contains the sidebar -->
  
  {% include "include_aside.html" %}
    
  <script>
  $(document).ready(function(){
      $('.sidebar-menu li.active').parents('.treeview').addClass('active');
  });
  </script>
  <style>
      .whatsapp_pdf_button {
          background-color: transparent;
          background-repeat: no-repeat;
          border: none;
          cursor: pointer;
          overflow: hidden;
          outline: none;
      }
      
      
  .table-wrapper {
    position: relative;
  }
  
  .scrolling-area {
    overflow-x: auto;
  }
  
  .scrolling-area#top-scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 16px; /* Adjust this height to match the scrollbar height */
    z-index: 1;
  }
  
  .fake-table {
    height: 1px;
  }
  
  .scrolling-area:not(#top-scroll) {
    margin-top: 16px; /* Adjust this margin to match the height of the top scrollbar */
  }
      
  </style>
  
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 271px;">
      <!-- Content Header (Page header) -->
          <section class="content-header">
        <h1>Case Detail Advocate       </h1>
      </section>
      <section style="margin-top: 22px;margin-bottom: 10px;">
                  
          <span class="alert alert-dismissible alert-success mb-4 display_message success-msg" style="postion:;margin-left:17px;width:100%;display:none"></span>
          <span class="alert alert-dismissible alert-error mb-4 display_message error-msg" style="margin-left:17px;width:100%;display:none"></span>
      </section>
      <section class="content" style="min-height:100px">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-primary">
              <form role="form" method="post" class="stdform" id="searchFrm" name="search_data_view" accept-charset="utf-8" action="https://prescriibe.com/docland/admin/advocate/case_detail">
                <div class="box-body">
                  
                                  <div class="form-group col-md-3">
                    <label>Search by Mobile No. and Member Name</label>
                    <input type="text" class="form-control" name="member_filter" placeholder="Serach By Mobile No. And Member name" id="member_filter" value="">
                  </div>
                  
                                </div>
                <div class="box-footer">
                   <input type="hidden" name="con_val" id="con_val" value="1">
                    <button type="submit" class="btn btn-primary">Search</button>
                  <button type="button" onclick="javascript: window.location.href = 'https://prescriibe.com/docland/admin/advocate/case_detail';" class="btn btn-default">Reset</button>
                  
                  </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      
      <!-- Main content -->
      <section class="content">
          <div class="row">
              <div class="col-xs-12">
                <div class="box box-primary">
                  
                  <div class="box-body table-responsive no-padding">
                      <div class="scrolling-area" id="top-scroll">
                          <div class="fake-table" style="width: 1258px;"></div>
                      </div>
                      <div class="scrolling-area">
                          <table class="table table-hover table-bordered " id="tableID">
                      <thead>
                          <tr class="bal-col">
                              <th style="width: 5%;">Sr.</th>
                                                          <th style="width: 10%;">Case Title</th>
                              <th style="width: 10%;">Advocate</th>	
                                                          <th style="width: 10%;">Case No</th>
                              <th style="width: 10%;">Case Status</th>
                              <th style="width: 10%;">Member Name</th>
                              <th style="width: 10%;">Member Mobile No.</th>
                              <th style="min-width:12vw !important">Next Case Date</th>
                              <th style="min-width:12vw !important">Case Stage</th>
                                                                                  </tr>
                      </thead>
                      <tbody> 
                                                  <tr class="gradeA"><td colspan="11">No Record found</td></tr>
                                          </tbody> 
                    </table>
                      </div>
                  </div>
                  <!-- /.box-body -->
                  
                  <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                                          <input type="hidden" id="controller" value="advocate">
                    </ul>
                  </div>
                </div>
                <!-- /.box -->
              
                </div>
                <!-- /.box -->
              </div>
            </section></div>
          
      
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
  <script src="/docland/assets/admin/plugins/validator.js"></script>  
  <script src="/docland/assets/admin/plugins/select2/select2.min.js"></script> 
  <script src="/docland/assets/admin/plugins/datepicker/bootstrap-datepicker.js"></script>    
  <script>
         document.addEventListener('DOMContentLoaded', function() {
        var topScroll = document.getElementById('top-scroll');
        var realTable = topScroll.nextElementSibling;
      
        topScroll.onscroll = function() {
          realTable.scrollLeft = topScroll.scrollLeft;
        };
      
        realTable.onscroll = function() {
          topScroll.scrollLeft = realTable.scrollLeft;
        };
      
        // Adjust the width of the fake table to match the real table
        var fakeTable = topScroll.querySelector('.fake-table');
        var realTableWidth = realTable.querySelector('table').offsetWidth;
        fakeTable.style.width = realTableWidth + 'px';
      });
     $(document).ready(function(){
        $('.pagination > li > a').on('click', function(){
           link = $(this).attr('href');  
           $('#searchFrm').attr('action', link);
           $('#searchFrm').submit();
           return false; 
        });
        
          $("#advocate_id, #state_id, #city_id").select2({
              placeholder: "--Select--"
          });
          
           $(".deleteCaseDetail").click(function(){
              var result = confirm("Are you sure. You want to delete this ?");
              if (result) {
                  //Logic to delete the item
                  var ref_id = $(this).attr("data-ref");
                    $.ajax({
                      url :"https://prescriibe.com/docland/admin/advocate/delete_case_detail",
                      type:"post",
                      data:{'case_detail_id':ref_id},
                      success:function(data) {
                          $('.success-msg').html("Record Deleted Successfully.");
                          $(".success-msg").show();
                          $(".display_message").hide(10000);
                              window.location.reload();
  
                      }
                    });
  
                  
              }
          });
          
          $("#state_id").change(function(){
              var state_id=$(this).val();	
              $.ajax({
                  url :"https://prescriibe.com/docland/admin/doctor_policy/getCitysByStateId",
                  type:"post",
                  data:{'state_id':state_id},
                  success:function(data){
                      $("#city_id").html(data);
                  }
              });
          });
          
           $('#date,#next_date_from, #next_date_to').datepicker({
              format: 'yyyy-mm-dd',
              todayHighlight: true,
              autoclose: true
          });
          
          
          $(".whatsapp_pdf_button").on("click", function() {
              if (confirm("Are you sure you want to send proccedings on whatsapp ? ")) {
                  var data_id = $(this).attr("data-ref");
                  $.ajax({
                      type: "POST",
                      url: "https://prescriibe.com/docland/admin/advocate/sendFileOnWhatsapp",
                      data: { data_id: data_id }, // Use an object for the data
                      success: function(response) {
                          alert(response.message);
                          if(response.status == "success") {
                              $('.success-msg').text(response.message);
                              $(".success-msg").css("display", "block");
                              $(".error-msg").css("display", "none");
                          } else { alert("no");
                              $('.error-msg').text(response.message);
                              $(".error-msg").css("display", "block");
                              $(".success-msg").css("display", "none");
                          }
                          $(".display_message").delay(5000).fadeOut(500);
                      },
                      error: function(jqXHR, textStatus, errorThrown) {
                          alert('Error: ' + textStatus + ' - ' + errorThrown);
                      }
                  });
              }
          });
          
          $(".email_pdf_button").on("click", function() {
              if (confirm("Are you sure you want to send proccedings on email ? ")) {
                  var data_id = $(this).attr("data-ref");
                  $.ajax({
                      type: "POST",
                      url: "https://prescriibe.com/docland/admin/advocate/sendFileOnEmail",
                      data: { data_id: data_id }, // Use an object for the data
                      success: function(response) {
                          alert(response.message);
                          if(response.status == "success") {
                              $('.success-msg').text(response.message);
                              $(".success-msg").css("display", "block");
                              $(".error-msg").css("display", "none");
                          } else { alert("no");
                              $('.error-msg').text(response.message);
                              $(".error-msg").css("display", "block");
                              $(".success-msg").css("display", "none");
                          }
                          $(".display_message").delay(5000).fadeOut(500);
                      },
                      error: function(jqXHR, textStatus, errorThrown) {
                          alert('Error: ' + textStatus + ' - ' + errorThrown);
                      }
                  });
              }
          });
          
          $("#noDateFilter").on("click", function(){
              if ($(this).is(":checked")){
                $('.nextDates').attr("style","display:none");
              } else {
                  $('.nextDates').attr("style","display:block");
              }
          });
     });
  </script>
  <footer class="main-footer">
      
  </footer>
  
  
  <script>
          
      function detectScreenshot() {
          var roleId = parseInt("6");
          var arrayVal = [2, 3, 9];
          if(!arrayVal.includes(roleId)) {
              document.addEventListener('keydown', function (e) {
                  if (e.key === 'PrintScreen' || (e.key === 's' && e.ctrlKey) || (e.key === 'S' && e.ctrlKey)) {
                      // User attempted to take a screenshot (Print Screen key or Ctrl+S)
                      // You can take some action here, like displaying a message
                      alert('Screenshots are not allowed on this website.');
                  } 
              });
          }
      }
  
      // Call the function to start detection
      detectScreenshot();
      </script>
      
  <!-- ./wrapper -->
  <script src="/docland/assets/admin/custom.js"></script>
  <!-- Bootstrap 3.3.6 -->
  <script src="/docland/assets/admin/bootstrap/js/bootstrap.min.js"></script>
  <!-- SlimScroll -->
  <script src="/docland/assets/admin/plugins/slimScroll/jquery.slimscroll.min.js"></script>
  <!-- bootstrap datepicker -->
  <script src="/docland/assets/admin/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
  <!-- FastClick -->
  <script src="/docland/assets/admin/plugins/fastclick/fastclick.js"></script>
  <!-- AdminLTE App -->
  <script src="/docland/assets/admin/dist/js/app.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/docland/assets/admin/dist/js/demo.js"></script>
   <!-- DataTables JS -->
      <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"> 
      </script> 
  <script>
    var roleIdNew = parseInt("6");
      var arrayVal1 = [2, 3, 9];
      
      if(!arrayVal1.includes(roleIdNew)) {
         document.addEventListener('contextmenu', function (e) {
              e.preventDefault();
          });
          
        const disabledKeys = ["c", "C", "x", "J", "u", "I"]; // keys that will be disabled
      
        const showAlert = e => {
          e.preventDefault(); // preventing its default behaviour
          // alert("Sorry, you can't view or copy source codes this way!")
          return ;
        }
      
        document.addEventListener("contextmenu", e => {
          showAlert(e); // calling showAlert() function on mouse right click
        });
      
        document.addEventListener("keydown", e => {
          // calling showAlert() function, if the pressed key matched to disabled keys
          if((e.ctrlKey && disabledKeys.includes(e.key)) || e.key === "F12") {
            showAlert(e);
          }
        });
      } 
  </script>
  {% include "include_footerjs.html" %}
  </body></html>